/* Global style */
body{
    background:#B6C5F2;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

img{
    height: 200px;
}

.notFoundImg{
    padding: 30px;
    padding-left: 45px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 800px;
}

h1 , h2{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
}


/* Header */

.HeaderNavbar{
    /* position: sticky;
    top: 0; */
    z-index: 500;
    height: 60px;
    width: 100%;
    position: relative;
    top: 0;
    bottom: 0; 
    background-color: #A5B1E0;
}

.TopHeder{
    /* position: sticky;
    top: 0; */
    z-index: 500;
    height: 40px;
    width: 100%;
    position: relative;
    top: 0;
    bottom: 0; 
}

.OverTop{
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: blue;
        border-radius: 50%;
        animation: blinker 1s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}

/* .postion{
    margin-top: 70px;
    margin-left: 15px;
    margin-right: 15px;
} */

/* Search */
.searchClose{
    float: right;
}

/* Body */
.btn-create-post{
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 999;
}

.body-style{
    padding: 15px;
    /* margin-top: 80px; */

    overflow: auto;
}

.small-left-body{
    padding: 15px;
    /* margin-top: 80px; */

    overflow: auto;
    margin: 0;
    max-width: 80%;
}

.notification-body{
    margin: 0 auto;
    max-width: 800px;
    margin-top: 120px;
}

.Event-details{
    padding: 15px;
   
   margin: 15px;
    
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
   max-width: 800px;
}

.card-style{
    margin-bottom: 25px;
    margin-top: 15px;
    background-color: #EAECF6;
}

.Event-card{
    margin-bottom: 25px;
}

.cardTitle{
    margin-left: 15px;
}

.cardDetailImg{
    height: 400px;
}

.imageStyle{
    height: 203px;
}

.icon-goback{
    float: right;
}


/* .saleCard */
.saleCard{
    background-color: #B6C5F2;
    border-radius: 6px;
}

.saleCard h5{
    padding-left: 15px;
}

.saleCard p{
    padding-left: 15px;
}

.btn-contact{
    background: whitesmoke;
    color: #1c1d1c;
    padding: 6px;
    border-radius: 4px;
    display: inline-flex;
    text-decoration: none;
    font-size: small;
}

.space{
    padding-left: 25px;
}

.btn-contact:hover{
    background: rgba(251, 253, 253, 0.6);
    text-decoration: none;
    cursor: pointer;
}

.btn-right{
    float:right;
}

.btn-left{
  border-radius: 50%;
    float:left;
}

.btn-center{
    /* margin-top: 20px; */
    margin-left: 10px;
    /* margin-right: 20px; */
}

.top-space{
    margin-top:15px;
}

/* Crate new Post */
.btn-circle.btn-xl {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.icon-left{
  align-content:center;
}


/* Footer */
.footer-post-time{
    margin-left: 6px;
}

.btn-like{
    margin-left: '20px';
    /* display: 'block';
    width: 'fit-content' */
}

/* Footer */
.footer{
    /* clear: both;
    position: relative;
    height: 100px;
    padding: 15px;
    background-color: black; */
    position:relative;
    bottom:0;
    height: 100px;
    padding: 15px;
    width: 100%;
    background-color: black;
}

.footer p {
    text-align: right;
    color: whitesmoke;
}

/* EAECF6 */
/* A5B1E0 */